table {
    border: 2px solid;
    border-color: black;
    width: 1000px;
    height: 300px;
    border-collapse: collapse;
    text-align: center;
}

tr,
td,
th {
    border: 2px solid;
    border-color: black;
}

a {
    text-decoration: none;
}